extends layout

block content
  #wrapper
//    .form-container
//      form(action="/battles/create" method="post")
//        input#hashtag1(type='text', placeholder='enter first hashtag', name='tag1')
//        input#hashtag2(type='text', placeholder='enter second hashtag', name='tag2')
//        input.hidden-submit(type='submit')
  
 
//    include battles
