extends layout

block content
  h1= title
  p Welcome to #{title}
  #wrapper
    h2 Enter tags to battle
    input#hashtag1(type='text', placholder='first hashtag')
    input#hashtag2(type='text', placholder='second hashtag')
