doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://fb.me/react-0.11.1.js')
    script(src='http://fb.me/JSXTransformer-0.11.1.js')
    link(href='http://fonts.googleapis.com/css?family=Raleway',rel='stylesheet', type='text/css')
    script(src='http://modernizr.com/downloads/modernizr-latest.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")    
    script(type='text/javascript', src="/javascripts/global.js")

  body
    block content